<%- include('header'); -%>
<form action="/" method="post" class="ui form">
    <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Envoyer
    </button>
</form>
<div class="ui comments">
    <h3 class="ui deviding header">Commentaires</h3>
    <% for (message of messages) { %>
        <div class="comment">
            <a href="/comment/<%= message.id %>">
                <img class='avatar' alt="avatar"
                     src="https://image.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg"
            </a>
                <div class="content">
                    <div class="metadata">
                        <div class="date">
                            <%=message.created_at.fromNow()%>
                        </div>
                    </div>
                    <div class="text">
                        <%= message.content %>
                    </div>
                </div>
        </div>
    <% } %>
</div>
<%- include('footer'); -%>